<div class="container anchor about">
  <h1>About Us</h1>
  <p>We sell beautiful handmade alpaca wool sweaters from Peru. Fair trade principles are used.</p>
  <%= image_tag("IMG_7219i.jpg", class: "img-responsive my-image") %>
</div>