  <div class="container-fluid anchor indexz">
    <p id="notice"><%= notice %></p>

    <h1 class="listing">Our products!</h1>
    <div class="row">
      <%= render "product" %>
    </div>
  </div>

<br>

<% if signed_in? && current_user.admin? %><%= link_to 'New Product', new_product_path %><% end %>
